In [1]:
from textblob import TextBlob

In [2]:
text1 = 'i love this food'

In [3]:
# ML Model
statement1 = TextBlob(text1)

In [4]:
statement1.sentiment

Sentiment(polarity=0.5, subjectivity=0.6)

In [5]:
text2 = 'earth revolves around the sun'

In [6]:
statement2 = TextBlob(text2)

In [7]:
statement2.sentiment

Sentiment(polarity=0.0, subjectivity=0.0)

In [8]:
text3 = ' i  hate eat pizza'

In [9]:
statement3 = TextBlob(text3)

In [10]:
statement3.sentiment

Sentiment(polarity=-0.8, subjectivity=0.9)

In [42]:
import pandas as pd

In [43]:
dataset=pd.read_csv("amazon_alexa.tsv",delimiter="\t")

In [44]:
dataset

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [45]:
dataset.shape

(3150, 5)

In [46]:
dataset.columns

Index(['rating', 'date', 'variation', 'verified_reviews', 'feedback'], dtype='object')

In [47]:
type(dataset)

pandas.core.frame.DataFrame

In [17]:
dataset.describe()

            rating     feedback
count  3150.000000  3150.000000
mean      4.463175     0.918413
std       1.068506     0.273778
min       1.000000     0.000000
25%       4.000000     1.000000
50%       5.000000     1.000000
75%       5.000000     1.000000
max       5.000000     1.000000

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3149 non-null   object
 4   feedback          3150 non-null   int64
dtypes: int64(2), object(3)
memory usage: 123.2+ KB

             date   variation verified_reviews
count        3150        3150             3149
unique         77          16             2300
top     30-Jul-18  Black  Dot
freq         1603         516               79

In [20]:
dataset["variation"]

0       Charcoal Fabric
1       Charcoal Fabric
2         Walnut Finish
3       Charcoal Fabric
4       Charcoal Fabric
              ...
3145          Black  Dot
3146          Black  Dot
3147          Black  Dot
3148          White  Dot
3149          Black  Dot
Name: variation, Length: 3150, dtype: object

In [21]:
dataset["variation"].value_counts

<bound method IndexOpsMixin.value_counts of 0       Charcoal Fabric
1       Charcoal Fabric
2         Walnut Finish
3       Charcoal Fabric
4       Charcoal Fabric
              ...
3145          Black  Dot
3146          Black  Dot
3147          Black  Dot
3148          White  Dot
3149          Black  Dot
Name: variation, Length: 3150, dtype: object>

In [48]:
dataset["verified_reviews"]

0                                           Love my Echo!
1                                               Loved it!
2       Sometimes while playing a game, you can answer...
3       I have had a lot of fun with this thing. My 4 ...
4                                                   Music
                              ...
3145    Perfect for kids, adults and everyone in betwe...
3146    Listening to music, searching locations, check...
3147    I do love these things, i have them running my...
3148    Only complaint I have is that the sound qualit...
3149                                                 Good
Name: verified_reviews, Length: 3150, dtype: object

In [49]:
dataset

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [53]:
x = dataset["verified_reviews"].appy(len)

AttributeError: 'Series' object has no attribute 'appy'

In [52]:
x

0                                           Love my Echo!
1                                               Loved it!
2       Sometimes while playing a game, you can answer...
3       I have had a lot of fun with this thing. My 4 ...
4                                                   Music
                              ...
3145    Perfect for kids, adults and everyone in betwe...
3146    Listening to music, searching locations, check...
3147    I do love these things, i have them running my...
3148    Only complaint I have is that the sound qualit...
3149                                                 Good
Name: verified_reviews, Length: 3150, dtype: object

In [25]:
from textblob import TextBlob

In [26]:
s=TextBlob("Love my Echo!")

In [27]:
s.sentiment

Sentiment(polarity=0.625, subjectivity=0.6)

In [28]:
def get_sentiment(text):
    mysen = TextBlob(text)
    s=mysen.sentiment
    return s

In [29]:
get_sentiment("I love you!")

Sentiment(polarity=0.625, subjectivity=0.6)

In [38]:
dataset["verified_reviews"].apply(get_sentiment)

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'float'>